#---- Fira Code

! Font to Fira Code Retina, 16px
URxvt.font: xft:Fira Code Retina:style=Retina:pixelsize=16

! Set Bold Font to Fira Code Bold, 16px
URxvt.boldFont: xft:Fira Code:style=Bold:pixelsize:16

! Set Italics Font to Fira Code Light, 16px
URxvt.italicFont: xft:Fira Code:style=Light:pixelsize:16

! Set Background Color
URxvt.background: #1D262A

! Set Foreground Color
URxvt.foreground: #E7EBED

! Set Color Scheme
! Black
URxvt.color0: #212121
URxvt.color8: #263238

! Red
URxvt.color1: #b71c1c
URxvt.color9: #ef5350

! Green
URxvt.color2: #004D40
URxvt.color10: #26A69A

! Yellow
URxvt.color3: #F57F17
URxvt.color11: #FFEE58

! Blue
URxvt.color4: #0D47A1
URxvt.color12: #42A5F5

! Magenta
URxvt.color5: #4A148C
URxvt.color13: #AB47BC

! Cyan
URxvt.color6: #006064
URxvt.color14: #26C6DA

! White
URxvt.color7: #FAFAFA
URxvt.color15: #FFFFFF

! Use this color for bold
URxvt.colorBD: #EAEAEA

! Use this color for italics
URxvt.colorIT: #EAEAEA

! Use this color for underlined text
URxvt.colorUL: #ef5350

! PERL Extensions
URxvt.perl-ext-common: default,matcher

! Clickable URLs
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

#---- solarized dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3
